# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
generated/prisma/client.d.ts
generated/prisma/client.js
generated/prisma/default.d.ts
generated/prisma/default.js
generated/prisma/edge.d.ts
generated/prisma/edge.js
generated/prisma/index-browser.js
generated/prisma/index.d.ts
generated/prisma/index.js
generated/prisma/package.json
generated/prisma/query_compiler_bg.wasm
generated/prisma/query_compiler_bg.js
generated/prisma/query_compiler_bg.wasm-base64.js
generated/prisma/schema.prisma
generated/prisma/wasm-edge-light-loader.mjs
generated/prisma/wasm-worker-loader.mjs
generated/prisma/runtime/client.d.ts
generated/prisma/runtime/client.js
generated/prisma/runtime/index-browser.d.ts
generated/prisma/runtime/index-browser.js
generated/prisma/runtime/wasm-compiler-edge.js
